In [38]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:/Users/Kshitij/OneDrive/Desktop/DSBDAL/Assignment 1/Data/iris.csv")

In [30]:
print("First 5 rows:")
print(df.head())

First 5 rows:
   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [31]:
print("\nLast 5 rows:")
print(df.tail())

Last 5 rows:
     sepal_length  sepal_width  petal_length  petal_width  species
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

In [32]:
print("\nShape of dataset:")
print(df.shape)

Shape of dataset:
(150, 5)

In [33]:
print("\nColumn names:")
print(df.columns)

Column names:
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='str')

In [34]:
print("\nData types:")
print(df.dtypes)

Data types:
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species           int64
dtype: object

In [35]:
print("\nStatistical Summary:")
print(df.describe())

Statistical Summary:
       sepal_length  sepal_width  petal_length  petal_width     species
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    1.000000
std        0.828066     0.433594      1.764420     0.763161    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [36]:

print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [37]:
print("\nAny missing values in dataset?")
print(df.isnull().values.any())

Any missing values in dataset?
False

In [16]:
df.iloc[:,:3]

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [21]:
df.iloc[:3:]

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0

In [22]:
df[0:3]

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0

In [27]:
df['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [29]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species           int64
dtype: object

In [7]:
x=df[['sepal_length']].values.astype(float)
min_max_scaler=preprocessing.MinMaxScaler()

x_scaled=min_max_scaler.fit_transform(x)

In [11]:
df_normalized=pd.DataFrame(x_scaled)

In [9]:
df_normalized

            0
0    0.222222
1    0.166667
2    0.111111
3    0.083333
4    0.194444
..        ...
145  0.666667
146  0.555556
147  0.611111
148  0.527778
149  0.444444

[150 rows x 1 columns]

In [12]:
df['species'].unique()

<StringArray>
['setosa', 'versicolor', 'virginica']
Length: 3, dtype: str

In [14]:
label_encoder=preprocessing.LabelEncoder()
df['species']=label_encoder.fit_transform(df['species'])

In [15]:
df['species'].unique()

array([0, 1, 2])